*{
    margin:0;
    padding:0;

}
body{
    box-sizing:border-box;
    background-color: rgb(122, 169, 177);
    color:#fff;

 }

 .container input{
     
     display:block;
     margin-top:15px;
     background-color:rgb(204, 220, 223);
     border:1px solid gray;
     font-family:cambria;
     font-weight:bold;
     color:black;
     padding: 8px;
     border-radius:10px;
     width:45%;

     
 }

 .container button{
     display:block;
     margin-top:10px;
     background-color: rgb(189, 189, 218);
     width:100px;
     height:25px;
     border:1px solid gray;
     border-radius: 8px;
     text-decoration: none;
     margin-left: 40px;
     width:20%;
     padding:2px;
     
 }

 .ourPara{
     display: block;
 }

 #form{
     padding-left:500px;
     padding-top: 20px;
     
     
     
 }

 h1{
     text-align:center;
     color:black;
     font-size:30px;
     padding-top:20px;
 }

.container a{
    font-family:cambria;
    color:black;
    text-decoration: none;
    font-weight:bold;
    font-size :16px;
}

